<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
	</startup>
	<appSettings>
		<!-- 连接字符串是否加密 -->
		<add key="ConStringEncrypt" value="false"/>
		<!--实体对象内容缓村的时间（分钟）-->
		<add key="ModelCache" value="30"/>
	</appSettings>
	<connectionStrings>
		<add name="Conn58" connectionString="Data Source=192.168.5.58/ocsdb;user id=TW_HSP_PMPA; password=HOSPITAL"/>
		<add name="Conn58-1" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.10.9)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=oracle))); User Id=TW_HSP_PMPA;Password=hospital;" />
	</connectionStrings>
</configuration>